@page "/cart-control"

<h1>Управление тележкой</h1>

<div>
    <center>
        <button class="btn btn-primary">Вперед</button>
    </center>
</div>
<div>
    <center>
        <button class="btn btn-primary">Влево</button>
        <button class="btn btn-primary">Вправо</button>
    </center>
</div>

<div>
    <center>
        <button class="btn btn-primary">Назад</button>
    </center>
</div>




<div class="form-group">
    <label>
        Настройка скорости:
        <input @bind="speedInput" />
    </label>
    <button class="btn btn-primary">Задать скорость</button>
</div>


@code {
    private string? speedInput;
}
